/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1em;
}

/* COMMON */
body {
    font-family: 'Montserrat', sans-serif;
}
.wrapper {
    width: 70%;
    margin: auto;
}
/* Common-image-properties */
.content-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.image-section {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}
.layover {
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
}
/* /Common-image-properties */

/* Common-text-properties */
.grey-text {
    color: #878787;
}
/* /Common-text-properties */

/* END COMMON */

/* HEADER */

/* Logo */
.logo {
    height: 3em;
    width: auto;
    padding-right: 3%;
    border-right: 1px solid #e5e5e5;  
}
/* /Logo */

/* Navbar */
nav {
    padding: 4% 0;
}
.nav-list li {
    list-style-type: none;
    display: inline-block;
    margin-right: 3%;
}
.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
}
/* /Navbar */


.subheader {
    position: relative;
}
header .image-section {
    height: 400px;
}
.teaser {
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 60%;
    color: white;
}
h1  {
    font-size: 140%;
}




/* END HEADER */

/* MAIN */

/* Section-description */
.section-description {
    margin: 5% 0;
}
.section-description h2 {
    font-size: 140%;
    font-weight: 900;
}
/* /Section-description */

.clearfix {
    padding: 2% 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    position: relative;
    float: left;
}

.col.small {
    width: 20%;
}

.col.big {
    width: 56%;
    padding: 0 2%;
}
.col .image-section {
    height: 120px;
}
.col .text-content * {
    margin-top: 5%;

}
/* END MAIN */

/* FOOTER */
footer {
    text-align: center;
    margin: 5% 0;
}
footer::after {
    content: '\2665';
    color: red;
    font-size: 120%;
}
/* END FOOTER */
